<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>GetHtml</display-name>
    <servlet-name>GetHtml</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.GetHtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHtml</servlet-name>
    <url-pattern>/GetHtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInitServlet</display-name>
    <servlet-name>MyInitServlet</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.MyInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInitServlet</servlet-name>
    <url-pattern>/MyInitServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.JavaWebApplication.Controller.MyServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>IndexingDb</display-name>
    <servlet-name>IndexingDb</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.IndexingDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexingDb</servlet-name>
    <url-pattern>/IndexingDb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReIndexDb</display-name>
    <servlet-name>ReIndexDb</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.ReIndexDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReIndexDb</servlet-name>
    <url-pattern>/ReIndexDb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDocByTerm</display-name>
    <servlet-name>GetDocByTerm</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.GetDocByTerm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDocByTerm</servlet-name>
    <url-pattern>/GetDocByTerm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/GetUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
</web-app>